# nRF5340 Tinderboard NRF5340 board configuration

# Copyright (c) 2019-2020 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPUAPP_QKAA

config BOARD_TINDERBOARD_NRF5340_CPUAPP
	bool "Tinderboard nRF5340 Application MCU"

config BOARD_TINDERBOARD_NRF5340_CPUAPP_NS
	bool "Tinderboard nRF5340 Application MCU non-secure"

endif # SOC_NRF5340_CPUAPP_QKAA

config BOARD_TINDERBOARD_NRF5340_CPUNET
	bool "Tinderboard NRF5340 Network MCU"
	depends on SOC_NRF5340_CPUNET_QKAA
